n8n/workflows/19-entregas-atrasadas-alerta.json
{
  "name": "19-entregas-atrasadas-alerta",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 9 }] }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/logistica/entregas-atrasadas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Buscar Entregas Atrasadas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.total }}", "rightValue": "0", "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        }
      },
      "name": "Tem Atrasos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/whatsapp/enviar-grupo",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "body": {
          "mode": "json",
          "json": "={{ JSON.stringify({ grupo: 'logistica', mensagem: '🚚 *ENTREGAS ATRASADAS*\\n\\nTotal: ' + $json.total + ' pedidos com entrega atrasada.\\n\\nVerifique no painel: https://aluforce.ind.br/logistica' }) }}"
        },
        "options": {}
      },
      "name": "Alerta WhatsApp Logística",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Buscar Entregas Atrasadas", "type": "main", "index": 0 }]] },
    "Buscar Entregas Atrasadas": { "main": [[{ "node": "Tem Atrasos?", "type": "main", "index": 0 }]] },
    "Tem Atrasos?": { "main": [[{ "node": "Alerta WhatsApp Logística", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
