n8n/workflows/21-transacoes-recorrentes-auto.json
{
  "name": "21-transacoes-recorrentes-auto",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 7 }] }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/financeiro/processar-recorrencias",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Processar Recorrências",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.processadas }}", "rightValue": "0", "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        }
      },
      "name": "Processou Algo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/whatsapp/enviar-grupo",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "body": {
          "mode": "json",
          "json": "={{ JSON.stringify({ grupo: 'financeiro', mensagem: '🔄 *RECORRÊNCIAS PROCESSADAS*\\n\\n' + $json.processadas + ' transações recorrentes geradas automaticamente hoje.' }) }}"
        },
        "options": {}
      },
      "name": "Notificar Financeiro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Processar Recorrências", "type": "main", "index": 0 }]] },
    "Processar Recorrências": { "main": [[{ "node": "Processou Algo?", "type": "main", "index": 0 }]] },
    "Processou Algo?": { "main": [[{ "node": "Notificar Financeiro", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
