n8n/workflows/22-boletos-vencidos-cobranca.json
{
  "name": "22-boletos-vencidos-cobranca",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 8, "triggerAtMinute": 30 }] }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/financeiro/boletos-vencidos?dias=3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Buscar Boletos Vencidos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.total }}", "rightValue": "0", "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        }
      },
      "name": "Tem Vencidos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/whatsapp/enviar-grupo",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "body": {
          "mode": "json",
          "json": "={{ JSON.stringify({ grupo: 'financeiro', mensagem: '💰 *BOLETOS VENCIDOS*\\n\\n' + $json.total + ' boletos vencidos sem pagamento.\\n\\nInicie a cobrança dos inadimplentes!' }) }}"
        },
        "options": {}
      },
      "name": "Alerta Cobrança",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Buscar Boletos Vencidos", "type": "main", "index": 0 }]] },
    "Buscar Boletos Vencidos": { "main": [[{ "node": "Tem Vencidos?", "type": "main", "index": 0 }]] },
    "Tem Vencidos?": { "main": [[{ "node": "Alerta Cobrança", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
