n8n/workflows/25-ferias-vencendo-alerta.json
{
  "name": "25-ferias-vencendo-alerta",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "triggerAtDay": 1, "triggerAtHour": 9 }] }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/rh/ferias-vencendo?dias=60",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Buscar Férias Vencendo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.total_alertas }}", "rightValue": "0", "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        }
      },
      "name": "Tem Alertas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/whatsapp/enviar-grupo",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "body": {
          "mode": "json",
          "json": "={{ JSON.stringify({ grupo: 'rh', mensagem: '🏖️ *FÉRIAS VENCENDO*\\n\\n' + $json.total_alertas + ' funcionários com período aquisitivo prestes a vencer.\\n\\n🗓️ Férias na próxima semana: ' + $json.ferias_proxima_semana.length + '\\n\\nAgendar férias com urgência!' }) }}"
        },
        "options": {}
      },
      "name": "Alerta RH Férias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Buscar Férias Vencendo", "type": "main", "index": 0 }]] },
    "Buscar Férias Vencendo": { "main": [[{ "node": "Tem Alertas?", "type": "main", "index": 0 }]] },
    "Tem Alertas?": { "main": [[{ "node": "Alerta RH Férias", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
