n8n/workflows/26-requisicoes-compra-paradas.json
{
  "name": "26-requisicoes-compra-paradas",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 10 }] }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/compras/requisicoes-paradas?dias=5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Buscar Requisições Paradas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.total }}", "rightValue": "0", "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        }
      },
      "name": "Tem Paradas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/whatsapp/enviar-grupo",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "body": {
          "mode": "json",
          "json": "={{ JSON.stringify({ grupo: 'compras', mensagem: '🛒 *REQUISIÇÕES PARADAS*\\n\\n' + $json.total + ' requisições de compra paradas há mais de ' + $json.dias_limite + ' dias.\\n\\nAprove ou movimente estas requisições!' }) }}"
        },
        "options": {}
      },
      "name": "Alerta Compras",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Buscar Requisições Paradas", "type": "main", "index": 0 }]] },
    "Buscar Requisições Paradas": { "main": [[{ "node": "Tem Paradas?", "type": "main", "index": 0 }]] },
    "Tem Paradas?": { "main": [[{ "node": "Alerta Compras", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
