n8n/workflows/27-ops-sem-material-alerta.json
{
  "name": "27-ops-sem-material-alerta",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 7, "triggerAtMinute": 30 }] }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/pcp/ordens-sem-material",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Buscar OPs sem Material",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.total }}", "rightValue": "0", "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        }
      },
      "name": "Tem Sem Material?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/whatsapp/enviar-grupo",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "body": {
          "mode": "json",
          "json": "={{ JSON.stringify({ grupo: 'pcp', mensagem: '🏭 *OPs SEM MATERIAL*\\n\\n' + $json.total + ' ordens de produção com material insuficiente para os próximos 7 dias.\\n\\nSolicite os materiais ao setor de Compras!' }) }}"
        },
        "options": {}
      },
      "name": "Alerta PCP Material",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Buscar OPs sem Material", "type": "main", "index": 0 }]] },
    "Buscar OPs sem Material": { "main": [[{ "node": "Tem Sem Material?", "type": "main", "index": 0 }]] },
    "Tem Sem Material?": { "main": [[{ "node": "Alerta PCP Material", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
