n8n/workflows/29-fluxo-caixa-projecao-semanal.json
{
  "name": "29-fluxo-caixa-projecao-semanal",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "triggerAtDay": 1, "triggerAtHour": 8 }] }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/financeiro/fluxo-caixa-projecao?dias=15",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Buscar Projeção Fluxo Caixa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/whatsapp/enviar-grupo",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "body": {
          "mode": "json",
          "json": "={{ JSON.stringify({ grupo: 'financeiro', mensagem: '💵 *PROJEÇÃO FLUXO DE CAIXA - 15 dias*\\n\\n📈 A Receber: R$ ' + $json.total_a_receber + '\\n📉 A Pagar: R$ ' + $json.total_a_pagar + '\\n\\n' + (parseFloat($json.saldo_projetado) >= 0 ? '✅' : '🔴') + ' Saldo Projetado: R$ ' + $json.saldo_projetado }) }}"
        },
        "options": {}
      },
      "name": "Enviar Projeção WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    },
    {
      "parameters": {
        "sendTo": "financeiro@aluforce.ind.br",
        "subject": "=Projeção Fluxo de Caixa - {{ $json.periodo_dias }} dias",
        "emailType": "html",
        "html": "=<h2>Projeção de Fluxo de Caixa</h2><p><strong>A Receber:</strong> R$ {{ $('Buscar Projeção Fluxo Caixa').item.json.total_a_receber }}</p><p><strong>A Pagar:</strong> R$ {{ $('Buscar Projeção Fluxo Caixa').item.json.total_a_pagar }}</p><p><strong>Saldo Projetado:</strong> R$ {{ $('Buscar Projeção Fluxo Caixa').item.json.saldo_projetado }}</p>",
        "options": {}
      },
      "name": "Email Projeção",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [690, 500],
      "credentials": { "smtp": { "id": "1", "name": "SMTP Aluforce" } }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Buscar Projeção Fluxo Caixa", "type": "main", "index": 0 }]] },
    "Buscar Projeção Fluxo Caixa": { "main": [[{ "node": "Enviar Projeção WhatsApp", "type": "main", "index": 0 }, { "node": "Email Projeção", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
