n8n/workflows/31-reativacao-clientes-campanha.json
{
  "name": "31-reativacao-clientes-campanha",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "triggerAtDay": 3, "triggerAtHour": 9 }] }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/vendas/clientes-reativacao?dias_min=60&dias_max=90",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Buscar Clientes para Reativação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.total }}", "rightValue": "0", "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        }
      },
      "name": "Tem Clientes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/whatsapp/enviar-grupo",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "body": {
          "mode": "json",
          "json": "={{ JSON.stringify({ grupo: 'vendas', mensagem: '🔄 *CLIENTES PARA REATIVAÇÃO*\\n\\n' + $json.total + ' clientes na janela de reativação (' + $json.janela + ').\\n\\nPriorize contato com estes clientes antes que se tornem inativos!' }) }}"
        },
        "options": {}
      },
      "name": "Alerta Vendas Reativação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200],
      "credentials": { "httpHeaderAuth": { "id": "1", "name": "N8N API Auth" } }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Buscar Clientes para Reativação", "type": "main", "index": 0 }]] },
    "Buscar Clientes para Reativação": { "main": [[{ "node": "Tem Clientes?", "type": "main", "index": 0 }]] },
    "Tem Clientes?": { "main": [[{ "node": "Alerta Vendas Reativação", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
